<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
		PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>TodoServlet</servlet-name>
		<servlet-class>com.packt.rest.TodoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TodoServlet</servlet-name>
		<url-pattern>/todos/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TodosServlet</servlet-name>
		<servlet-class>com.packt.rest.TodosServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TodosServlet</servlet-name>
		<url-pattern>/todos</url-pattern>
	</servlet-mapping>
</web-app>